$min-height-header: 78px;
$max-height-header: 110px;
$height-header: calc(100vh / (1024 / 110));

.header {
	@extend %gutter;

	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	user-select: none;
	position: absolute;
	height: $height-header;
	min-height: $min-height-header - 20px;
	max-height: $max-height-header - 20px;

	&__inner {
		height: 100%;
		display: flex;
		margin: 0 auto;
		align-items: flex-end;
		max-width: $width-site;
	}

	&__logo {
		width: 100%;
		display: block;
		max-width: 104px;
		position: relative;
		background-image: url('/src/img/logo.svg');

		&::after {
			content: '';
			display: block;
			padding-top: calc(100% / (104 / 48));
		}
	}
	&__navbar {
		margin-left: auto;
	}
}
