<header class="header | page__header">
  <div class="header__inner">
    {% if currentSection != './' %}
      <a class="header__logo" href="./"></a>
    {% else %}
      <div class="header__logo"></div>
    {% endif %}

    {% include "includes/layouts/navbar/navbar.njk" %}
  </div><!-- .header__inner -->
</header><!-- .header -->
