%gutter {
	padding: 0 $gutter;
}

%spacer {
	margin: $spacer auto 0;

	&:first-child {
		margin-top: 0;
	}
}

%animation {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: $ease-in-out;
}
