@function ln($count) {
	@return $count * $line-height + rem;
}

@function lh($size, $base: $font-size) {
	$size: strip-units($size);
	$base: strip-units($base);

	$res: $size / $base;

	@if ($res == (1 + 1 / 3)) {
		$res: $res + .00001;
	}

	@return $res;
}

@function strip-units($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

@function em($px, $base: $font-size) {
	@return #{lh($px, $base)} + em;
}

@function rem($px, $base: $font-size) {
	@return #{lh($px, $base)} + rem;
}

@function col($ratio, $gap: $col-gap, $is-add-gap: no) {
	@if ($ratio == 1 / 3) {
		$ratio: $ratio + .0000001;
	}

	$foo: 100% * $ratio;
	$bar: $gap - $gap * $ratio;

	@if ($is-add-gap != no) {
		$bar: $bar - $gap;
	}

	@return calc(#{($foo)} - #{$bar});
}

@function flow($ratio, $gap: $col-gap) {
	@if ($ratio == 1 / 3) {
		$ratio: $ratio + .0000001;
	}

	@return calc(#{100% * $ratio} - #{$gap});
}
