@mixin is-screen-max($size) {
	@media screen and (max-width: $size) {
		@content;
	}
}

@mixin is-screen-min($size) {
	@media screen and (min-width: $size - 1) {
		@content;
	}
}

@mixin is-screen-between($size-min, $size-max) {
	@media screen and (min-width: $size-min) and (max-width: $size-max - 1) {
		@content;
	}
}

@mixin text-18 {
	font-size: 18px;
	line-height: lh(24, 18);
}

@mixin underline {
	background-position: 0 100%, 0 100%;
	transition-property: color, background;
	background-image:
		linear-gradient(
			90deg,
			currentColor 0,
			currentColor
		),
		linear-gradient(
			90deg,
			currentColor 0,
			currentColor
		);
}

@mixin add-icons {
	@font-face {
		font-family: ico;
		src:
			url('/src/fonts/ico.woff2') format('woff2'),
			url('/src/fonts/ico.woff') format('woff');
	}
}

@mixin add-font($name, $local, $file) {
	@font-face {
		font-family: #{$name};
		font-display: swap;
		@content;
		src:
			local(#{$name}),
			local(#{$local}),
			url('/src/fonts/#{$file}.woff2') format('woff2'),
			url('/src/fonts/#{$file}.woff') format('woff');
	}
}
