.swiper {
	&-scrollbar {
		z-index: 50;
		overflow: hidden;
		position: absolute;
		border-radius: 14px;
		-ms-touch-action: none;

		&::after {
			content: '';
			display: block;
			position: absolute;
		}

		&-drag {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			min-width: 14px;
			min-height: 14px;
			position: relative;
			border-radius: 50%;
			border: 3px solid $blue-100;
			background-color: #0b1621;

			&::after {
				top: 50%;
				right: 100%;
				height: 2px;
				content: '';
				width: 100vw;
				margin-top: -1px;
				position: absolute;
				pointer-events: none;
				background: $blue-100;
			}
		}
		&-lock {
			display: none;
		}
		&-cursor-drag {
			cursor: move;
		}

		&-vertical {
			top: 1%;
			right: 3px;
			height: 98%;
			width: 14px;

			&::after {
				top: 0;
				left: 50%;
				height: 100%;
				transform: translateX(-50%);
				border-left: 1px dashed $blue-100;
			}
		}
		&-horizontal {
			left: 1%;
			width: 98%;
			bottom: 3px;
			height: 14px;

			&::after {
				left: 0;
				top: 50%;
				width: 100%;
				border-top: 1px dashed $blue-100;
			}
		}
	}

	&-pagination {
		&-bullet {
			$e: &;

			width: 11px;
			height: 11px;
			display: block;
			cursor: pointer;
			margin-left: 10px;
			position: relative;

			&::after,
			&::before {
				content: '';
				display: block;
				position: absolute;
			}
			&::after {
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
			}
			&::before {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: 1px solid #fff;
				transition-property: border, background, transform;
			}

			&:hover {
				&::before {
					transform: scale(1.2);
					border-color: $blue-100;
				}
			}
			&:first-child {
				margin: 0;
			}

			&-active {
				&::before {
					border-color: $blue-100;
					background-color: $blue-100;
				}
			}
		}
	}
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	/* Fix of Webkit flickering */
	z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	will-change: transform;
	transition-property: transform;
	box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
	flex-wrap: wrap;
	flex-direction: column;
}
.swiper-container-free-mode > .swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-container-pointer-events {
	touch-action: pan-y;
	&.swiper-container-vertical {
		touch-action: pan-x;
	}
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	will-change: transform;
	transition-property: transform;
}
.swiper-slide-invisible-blank {
	visibility: hidden;
}
/* Auto Height */
.swiper-container-autoheight {
	&,
	.swiper-slide {
		height: auto;
	}

	.swiper-wrapper {
		align-items: flex-start;
		transition-property: transform, height;
	}
}

/* CSS Mode */
.swiper-container-css-mode {
	> .swiper-wrapper {
		overflow: auto;
		scrollbar-width: none; /* For Firefox */
		-ms-overflow-style: none; /* For Internet Explorer and Edge */
		&::-webkit-scrollbar {
			display: none;
		}
	}
	> .swiper-wrapper > .swiper-slide {
		scroll-snap-align: start start;
	}
}
.swiper-container-horizontal.swiper-container-css-mode {
	> .swiper-wrapper {
		scroll-snap-type: x mandatory;
	}
}
.swiper-container-vertical.swiper-container-css-mode {
	> .swiper-wrapper {
		scroll-snap-type: y mandatory;
	}
}

/* a11y */
.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}
