

.ico {
	speak: never;
	line-height: 1;
	font-family: 'ico';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	width: em(44);
	height: em(44);
	display: flex;
	flex-shrink: 0;
	font-size: 20px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: 1px dashed currentColor;

	&_lg {
		font-size: 27px;
	}

  @each $name, $code in $icons {
		&_#{$name}:after { content: $code; }
  }
}
