{% macro ico(bemMix, bemMod) %}
  {% set mods = '' %}

  {% for item in bemMod %}
    {% set mods = mods + ' ico_' + item %}
  {% endfor %}

  <i class="ico{{ mods }} | {{ bemMix + '__ico' }}"></i>
{% endmacro %}
