*,
::after,
::before {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

[class],
::after,
::before {
	transition: none $time $ease;
}

:focus {
	outline: none;
}

img {
	pointer-events: none;
}
img,
video,
iframe {
	height: auto;
	max-width: 100%;
}


::selection {
	color: $selection-color;
	background-color: $selection-bg;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
html {
	tab-size: 2;
	hyphens: auto;
	text-size-adjust: 100%;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:focus-within {
		scroll-behavior: smooth;
	}
}
body {
	color: $body-color;
	font-size: $font-size;
	line-height: $line-height;
	font-family: $font-family;
	font-weight: $font-weight;
	background-color: $body-bg;
}

.page {
	$b: &;

	position: relative;

	//&::after,
	&::before {
		left: 0;
		right: 0;
		z-index: 10;
		content: '';
		position: absolute;
		pointer-events: none;
		transition-property: opacity, transform;

		height: calc(100% / (1440 / 188));
	}
	/*&::after {
		top: 100%;
		border-radius: 50%;
		height: calc(100% / (1440 / 188));
		box-shadow: 0 0 100px 150px #000;
	}*/
	&::before {
		top: 0;
		opacity: 0.64;
		background:
			linear-gradient(
				180deg,
				#000 0%,
				rgba(#000, 0) 100%
			);
	}
	&_shade {
		&::before {
			opacity: 1;
			transform: none;
		}
	}

	&_index {
		min-height: 772px;

		#{$b} {
			&__footer {
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 450;
				position: absolute;
			}
		}
	}
	&_loaded {
	}
	&_loading {
		* {
			transition: none !important;
		}
	}
}
