@include add-icons;

@include add-font('Rajdhani', 'Rajdhani Regular', 'Rajdhani-Regular') {
	font-style: normal;
	font-weight: 400;
}

@include add-font('Rajdhani', 'Rajdhani Medium', 'Rajdhani-Medium') {
	font-style: normal;
	font-weight: 500;
}

@include add-font('Rajdhani', 'Rajdhani Bold', 'Rajdhani-Bold') {
	font-style: normal;
	font-weight: 700;
}

@include add-font('Rajdhani', 'Rajdhani SemiBold', 'Rajdhani-SemiBold') {
	font-style: normal;
	font-weight: 600;
}
