button,
textarea,
[type="tel"],
[type="text"],
[type="date"],
[type="email"],
[type="search"],
[type="button"],
[type="submit"]	{
	border: 0;
	margin: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	user-select: none;
	transition-property: color, border;
}
textarea {
	resize: none;
}
::placeholder {
	color: #4A809A;
	transition: color .15s $ease;
}
:focus {
	&::placeholder {
		color: transparent;
	}
}

button,
[type="button"],
[type="submit"] {
	cursor: pointer;
}
