h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: $headings-margin-top 0 0;
	line-height: $headings-line-height;

	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: $h1-font-size;
	text-transform: uppercase;

	@if variable-exists('h1-line-height') {
		line-height: $h1-line-height;
	}
	@if variable-exists('h1-font-family') {
		font-family: $h1-font-family;
	}
}
h2, .h2 {
	font-size: $h2-font-size;

	@if variable-exists('h2-line-height') {
		line-height: $h2-line-height;
	}
	@if variable-exists('h2-font-family') {
		font-family: $h2-font-family;
	}
}
h1, .h1 {
	font-weight: $h1-font-weight;
}
h2, .h2 {
	font-weight: $h2-font-weight;
}

h3, .h3 {
	font-size: $h3-font-size;
	font-weight: $h3-font-weight;

	@if variable-exists('h3-line-height') {
		line-height: $h3-line-height;
	}
	@if variable-exists('h3-font-family') {
		font-family: $h3-font-family;
	}
}

h4, .h4 {
	color: $blue-100;
	font-size: $h4-font-size;
	font-weight: $h4-font-weight;

	@if variable-exists('h4-line-height') {
		line-height: $h4-line-height;
	}
	@if variable-exists('h4-font-family') {
		font-family: $h4-font-family;
	}
}

h5, .h5 {
	color: $blue-100;
	font-size: $h5-font-size;
	font-weight: $h5-font-weight;

	@if variable-exists('h5-line-height') {
		line-height: $h5-line-height;
	}
	@if variable-exists('h5-font-family') {
		font-family: $h5-font-family;
	}
}

h6, .h6 {
	color: $blue-100;
	font-size: $h6-font-size;
	font-weight: $h6-font-weight;

	@if variable-exists('h6-line-height') {
		line-height: $h6-line-height;
	}
	@if variable-exists('h6-font-family') {
		font-family: $h6-font-family;
	}
}
