a {
	outline: none;
	color: currentColor;
	text-decoration: none;

	&:not([class]) {
		@include underline;

		color: $link-color;
		background-size: 0 1px;
		transition: none $time $ease;
		transition-property: color, background;

		&:hover {
			color: $hover-color;
			background-size: 0 1px, 100% 1px;
		}
		&:active {
			color: $click-color;
			background-size: 100% 1px;
		}
	}
	&[href^="tel"] {
		border: none;
	}
}
