ol,
ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;

	&:not([class]) {
		margin: 0 0 $text-gap;

		ol,
		ul {
		}
		li {
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}

ol {
	counter-reset: list-counter;

	&:not([class]) {
		li {
			&::before {
				content: counter(list-counter)'.';
				counter-increment: list-counter;
			}
		}
	}
}

ul {
	&:not([class]) {
		li {

			&::before {
				content: '\2014';
			}
		}
	}
}

li {
	&:first-child {
		margin-top: 0;
	}
}
