.intro {
	$b: &;

	@include text-18;

	max-width: 568px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	&__plus {
		position: relative;
		border-radius: 5px;
		display: inline-block;
		vertical-align: middle;
		background-color: $green-200;
		width: em(40, $h1-font-size);
		height: em(40, $h1-font-size);
		margin-top: em(-8, $h1-font-size);

		&::after,
		&::before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			border-radius: 3px;
			background: #fff;
			transform: translate(-50%, -50%);
		}
		&::after {
			width: em(6, $h1-font-size);
			height: em(24, $h1-font-size);
		}
		&::before {
			width: em(24, $h1-font-size);
			height: em(6, $h1-font-size);
		}
	}
	&__text {
		margin-top: 1rem;
	}

	&_bold {
		#{$b} {
			&__title {
				font-weight: 700;
			}
		}
	}
}
