{% macro intro(data, bemMix, bemMod) %}
  {% set mods = '' %}

  {% for item in bemMod %}
    {% set mods = mods + ' intro_' + item %}
  {% endfor %}

  <div class="intro{{ mods }} | {{ bemMix + '__intro' }}">
    {% if titleType == 'h1' %}
      <h1 class="intro__title">{{ data.head.title | safe }}</h2>
    {% else %}
      <h2 class="intro__title | h1">{{ data.head.title | safe }}</h2>
    {% endif %}

    <div class="intro__text">
      {% for text in data.head.content %}
        <p>{{ text | safe }}</p>
      {% endfor %}
    </div><!-- .intro__text -->
  </div><!-- .intro -->
{% endmacro %}
