.product {
	$b: &;

	display: flex;

	&__img {
		margin-right: 20px;
		margin-bottom: auto;
	}
	&__name {
		@include underline;

		line-height: 1;
		font-size: 24px;
		color: $blue-100;
		font-weight: 600;
		background-size: 0 2px;
	}

	&:hover {
		#{$b} {
			&__name {
				background-size: 0 2px, 100% 2px;
			}
		}
	}
	&:active {
		#{$b} {
			&__name {
				color: $click-color;
				background-size: 100% 2px;
			}
		}
	}
}

.products {
	&__unit {
		margin-top: 2rem;

		&:first-child {
			margin-top: 0;
		}
	}
}
