<div class="products | landing__products">
  {% for item in products.list %}
    <a class="product | products__unit" href="{{ item.url }}">
      <img class="product__img" src="{{ item.img }}" width="100" height="100" alt="{{ item.name }}">

      <div class="product__data">
        <span class="product__name">{{ item.name }}</span>

        <div class="product__text">
          {% for text in item.content %}
            <p>{{ text | safe }}</p>
          {% endfor %}
        </div><!-- .product__text -->
      </div><!-- .product__data -->
    </a><!-- .product -->
  {% endfor %}
</div><!-- .products -->
