.navbar {
	$b: &;

	&__menu {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		position: relative;

		& + & {
			margin-left: 36px;
		}
		&:hover {
			#{$b} {
				&__caret {
					&::after {
						transform: rotate(135deg);
					}
					&::before {
						transform: rotate(-135deg);
					}
				}
				&__dropdown {
					opacity: 1;
					transform: none;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}
	}
	&__link {
		color: #fff;
		display: flex;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		position: relative;
		align-items: center;
		text-transform: uppercase;
		transition-property: color;

		&_parent {
			display: none;
		}

		&:hover {
			color: $hover-color;
		}
		&:active {
			color: $click-color;
		}
	}
	&__caret {
		width: 10px;
		display: block;
		margin-left: 10px;
		position: relative;
		margin-right: -10px;

		&::after,
		&::before {
			top: 50%;
			width: 1px;
			height: 7px;
			content: '';
			display: block;
			margin-top: -3px;
			margin-left: 2px;
			margin-right: 2px;
			position: absolute;
			will-change: transform;
			background-color: $blue-100;
			transition-property: transform;
		}
		&::after {
			right: 0;
			transform: rotate(45deg);
		}
		&::before {
			left: 0;
			transform: rotate(-45deg);
		}
	}
	&__dropdown {
		top: 100%;
		opacity: 0;
		left: -15px;
		width: 230px;
		cursor: pointer;
		visibility: hidden;
		position: absolute;
		border-radius: 8px;
		pointer-events: none;
		will-change: transform;
		transform-origin: 0 0;
		background-color: #fff;
		transform: translateX(-5px);
		transition-property: opacity, transform, visibility;
	}
}
