{% from "includes/layouts/subnav/subnav.njk" import subnav %}

<nav class="navbar header__navbar">
  <ul class="navbar__menu">
    {% for item in menu %}
      <li class="navbar__item">
        <a class="navbar__link" href="{{ item.url }}">{{ item.name }}</a>

        {% if item.subnav %}
          <div class="navbar__caret"></div>
          <div class="navbar__dropdown">
            <a class="navbar__link navbar__link_parent" href="{{ item.url }}">{{ item.name }}</a>

            {{ subnav(item.subnav, 'navbar__subnav') }}
          </div><!-- .navbar__dropdown -->
        {% endif %}
      </li>
    {% endfor %}
    <li class="navbar__item">
      <span class="navbar__link | js-open-popup" data-popup="login">Sign In</span>
    </li>
    <li class="navbar__item">
      <button class="btn btn_green btn_sm | navbar__btn | js-open-popup" data-popup="callback">Contact us</button>
    </li>
  </ul>
</nav><!-- .navbar -->
