.solution {
	$b: &;

	width: 100%;
	height: auto;
	padding: 15px;
	display: flex;
	cursor: pointer;
	color: $blue-100;
	border-radius: 15px;
	transition-property: background;
	background: rgba($blue-100, 0.15);

	&__ico {
		margin-right: 15px;
	}
	&__name {
		@include underline;

		line-height: 1;
		font-size: 24px;
		background-size: 0 2px;
	}
	&__text {
		color: #fff;
	}

	&:hover {
		background: rgba($blue-100, 0.3);

		#{$b} {
			&__name {
				background-size: 0 2px, 100% 2px;
			}
		}
	}
	&:active {
		#{$b} {
			&__name {
				color: $click-color;
				background-size: 100% 2px;
			}
		}
	}
}

.solutions {
	&__show {
		&_two {
			margin-top: 20px;
		}
	}
	&__area {
		display: flex;
	}


	&__unit {
		//width: calc(50% - 10px);
		//height: calc(50% - 10px);
	}
	&__track {
	}
	&__hint {
		line-height: 1;
		margin-top: 5px;
		font-size: 10px;
		font-weight: 500;
		color: $blue-100;
	}
	&__scrollbar {
		left: 0;
		width: 100%;
		margin-top: 40px;
		position: relative;
	}
}
