{% macro solution(data, index) %}
  <div class="solution | solutions__slide | swiper-slide js-open-popup" data-popup="solution-{{ index }}">
    {{ ico('solution', [data.ico]) }}

    <div class="solution__data">
      <span class="solution__name">{{ data.name }}</span>

      <div class="solution__text">
        {% for text in data.content %}
          <p>{{ text | safe }}</p>
        {% endfor %}
      </div><!-- .solution__text -->
    </div><!-- .solution__data -->
  </div><!-- .solution -->
{% endmacro %}

<div class="solutions | landing__solutions">
  <div class="solutions__show solutions__show_one | swiper-container">
    <div class="solutions__track | swiper-wrapper">
      {% for item in solutions.list %}
        {% if loop.index % 2 !== 0 %}
          {{ solution(item, loop.index) }}
        {% endif %}
      {% endfor %}
    </div><!-- .solutions__track -->
  </div><!-- .solutions__show -->

  <div class="solutions__show solutions__show_two | swiper-container">
    <div class="solutions__track | swiper-wrapper">
      {% for item in solutions.list %}
        {% if loop.index % 2 === 0 %}
          {{ solution(item, loop.index) }}
        {% endif %}
      {% endfor %}
    </div><!-- .solutions__track -->

    <div class="solutions__scrollbar swiper-scrollbar swiper-scrollbar-horizontal"></div>
    <div class="solutions__hint">Drag to Navigate</div>
  </div><!-- .solutions__show -->
</div><!-- .solutions -->
