.office {
	$b: &;

	@include text-18;

	overflow: hidden;
	border-radius: 15px;
	background-color: rgba($blue-100, 0.15);

	&__map {
		position: relative;

		&::after {
			content: '';
			display: block;
			padding-bottom: calc(100% / (300 / 228));
		}
	}
	&__data {
		padding: 14px 20px;
	}
	&__embed {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #ededee;
	}

	&:hover {
		background-color: rgba($blue-100, 0.3);
	}
}

.offices {
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;

	&__ico {
		margin-right: 15px;
	}
	&__unit {
		width: col(1/2);
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin-top: 2rem;
	}
	&__title {
		display: flex;
		font-size: 32px;
		color: $blue-100;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
	}
}
