<div class="offices | landing__offices">
  <h3 class="offices__title">
    {{ ico('offices', ['pin']) }}
    {{ contacts.offices.title }}
  </h3>

  <div class="offices__body">
    {% for item in contacts.offices.list %}
      <div class="office | offices__unit">
        <div class="office__map">
          <iframe
            class="office__embed"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ item.place_id }}&key=AIzaSyDvYFJ_L_vqmNm5vPwK_vawqew1k-7YwrU"
            width="300" height="228" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
          </iframe>
        </div><!-- .office__map -->

        <ul class="office__data">
          {% for text in item.data %}
            <li class="office__line">{{ text | safe }}</li>
          {% endfor %}
        </ul><!-- .office__data -->
      </div><!-- .office -->
    {% endfor %}
  </div><!-- .offices__body -->
</div><!-- .offices -->
