.contacts {
	@include text-18;

	display: flex;
	justify-content: center;

	a {
		color: #fff;
	}

	&__name {
		color: $blue-100;
		font-weight: 500;
		text-transform: uppercase;
	}
	&__list {
		margin-top: 13px;
	}
	&__item {
		margin-top: 3px;
	}
	&__group {
		position: relative;

		& + & {
			margin-left: 20px;
		}
		&:first-child {
			text-align: right;

			&::after {
				top: 11px;
				left: 100%;
				width: 9px;
				height: 1px;
				content: '';
				display: block;
				margin-left: 6px;
				position: absolute;
				background-color: #fff;
			}
		}
	}
}
