<div class="contacts | landing__contacts">
  {% for item in contacts.list %}
    <div class="contacts__group">
      <span class="contacts__name">{{ item.name }}</span>

      <ul class="contacts__list">
        {% for line in item.data %}
          {% if loop.first %}
            <li class="contacts__item">{{ line }}</li>
          {% else %}
            <li class="contacts__item">
              <a href="{{ line.type }}:{{ line.text }}">{{ line.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul><!-- .contacts__list -->
    </div><!-- .contacts__group -->
  {% endfor %}
</div><!-- .contacts -->
