.actions {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	&__btn {
		min-width: 200px;

		& + & {
			margin-left: 30px;
		}
	}
	&__more {
		@include underline;

		font-size: 14px;
		color: $blue-100;
		background-size: 0 1px;

		&:hover {
			color: #fff;
			background-size: 0 1px, 100% 1px;
		}
		&:active {
			color: $click-color;
			background-size: 100% 1px, 100% 1px;
		}
	}
	&__foot {
		margin-top: 20px;
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
