<div class="actions | landing__actions">
  <div class="actions__buttons">
    {% for item in about.actions.buttons %}
      {% if item.url %}
        <a
          class="btn btn_blue | actions__btn"
          href="{{ item.url }}">{{ item.name }}</a>
      {% else %}
        <button
          class="btn btn_green | actions__btn | js-open-popup"
          data-popup="{{ item.popup }}">{{ item.name }}</button>
      {% endif %}
    {% endfor %}
  </div><!-- .actions__buttons -->

  <div class="actions__foot">
    <a class="actions__more" href="{{ about.actions.more.url }}">{{ about.actions.more.name }}</a>
  </div><!-- .actions__foot -->
</div><!-- .actions -->
