.popup {
	width: 100%;
	z-index: 10;
	padding: 26px;
	max-width: 500px;
	text-align: left;
	perspective: 1px;
	position: relative;
	border-radius: 15px;
	display: inline-block;
	background: $blue-600;
	vertical-align: middle;

	&__head {
		display: flex;
		align-items: center;
		margin: -26px -26px 26px;
		padding: 16px 44px 16px 26px;
		border-radius: 15px 15px 0 0;
		background-color: rgba($blue-100, 0.3);
	}
	&__body {
		line-height: lh(26);

		p {
			margin: 0.2rem 0 0;
		}
		h4 {
			margin: 1.5rem 0 0;
		}
	}
	&__foot {
		display: flex;
		margin-top: 1.5rem;
		justify-content: center;
	}

	&__ico {
		margin-right: 20px;
		margin-bottom: auto;
	}
	&__btn {
		flex-grow: 1;
		max-width: 214px;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}
	&__title {
		line-height: 1;
		font-size: 28px;
	}
	&__close {
		top: 7px;
		right: 7px;
		width: 30px;
		height: 30px;
		color: #fff;
		display: block;
		background: none;
		position: absolute;

		&::after,
		&::before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background-color: currentColor;
			transition-property: color, transform;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			width: 1px;
			height: 14px;
		}
		&::before {
			width: 14px;
			height: 1px;
		}

		&:hover {
			color: $hover-color;

			&::after,
			&::before {
				transform: translate(-50%, -50%) rotate(45deg) scale(1.4286);
			}
		}
		&:active {
			color: $click-color;
		}
	}
}

.popups {
	$b: &;

	top: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	right: 100%;
	z-index: 1000;
	position: fixed;
	overflow: hidden;
	visibility: hidden;
	background-color: rgba($blue-800, 0.76);
	transition:
		right 0s $ease $time,
		opacity $time $ease 0s,
		visibility 0s $ease $time;

	&__unit {
		margin: auto;
	}
	&__scene {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 15px;
		overflow: hidden;
		position: absolute;
		text-align: center;
		transform: translateY(-100%) scale(0.45);
		transition:
			opacity 0.6s $ease,
			transform 0.6s $ease;

		&_show {
			opacity: 1;
			transform: none;
		}
		&_hide {
			opacity: 0;
			transform: translateY(100%) scale(0.45);
		}
	}
	&__overlay {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		position: absolute;
	}

	&_show {
		right: 0;
		opacity: 1;
		visibility: visible;
		transition: opacity .3s $ease;
	}
}
