.btn {
	border: 0;
	cursor: pointer;
	position: relative;
	align-items: center;
	display: inline-flex;
	vertical-align: middle;
	justify-content: center;

	color: #fff;
	padding: 0 20px;
	font-size: 18px;
	min-height: 48px;
	font-weight: 700;
	border-radius: 8px;
	text-transform: uppercase;
	transition-property: background;

	&_sm {
		font-size: 14px;
		min-height: 38px;
	}

	&_blue {
		background-color: $blue-400;

		&:hover {
			background-color: $blue-200;
		}
		&:active {
			background-color: $red-100;
		}
	}
	&_green {
		background-color: $green-200;

		&:hover {
			background-color: $green-100;
		}
		&:active {
			background-color: $red-100;
		}
	}
}
