.field {
	$b: &;

	display: flex;
	font-weight: 500;
	flex-direction: column;

	&__input {
		height: 30px;
		transition-property: border;
		border-bottom: 1px solid #fff;

		/*
		&:not(:focus) {
			&:not(:placeholder-shown) {
				&:valid {
					border-color: $green-300;
				}
				&:invalid {
					border-color: $red-100;

					& ~ .field__message {
						display: block;
					}
				}
			}
		}
		*/

		&:hover,
		&:focus {
			& ~ #{$b}__label {
				color: $blue-100;
			}
		}
	}
	&__label {
		order: 1;
		display: block;
		font-size: 14px;
		line-height: lh(20, 14);
		transition-property: color;
		color: rgba($blue-100, 0.5);
	}








	&__input,
	&__textarea {
		order: 2;
		@include text-18;

		width: 100%;
		color: #fff;
		display: block;
		background: none;
	}
	&__textarea {
		border-radius: 8px;
		background: $blue-700;
	}
	&__message {
		order: 3;
		font-size: 12px;
		color: $orange-100;
		line-height: lh(18, 12);
	}

	&:hover {
		&__label {
			opacity: 1;
		}
	}
}
