{%
  macro field(
    name,
    type,
    label,
    pattern,
    required,
    placeholder,
    bemMod,
    bemMix
  )
%}
  {% set mods = '' %}

  {% for item in bemMod %}
    {% set mods = mods + ' ico_' + item %}
  {% endfor %}

  <label class="field{{ mods }} | {{ bemMix + '__field' }}">
    <span class="field__label">{{ label }}</span>
    <input
      class="field__input"
      type="{{ type }}"
      name="{{ name }}"
      {{ 'pattern="' + pattern + '"' if pattern }}
      {{ 'placeholder="' + placeholder + '"' if placeholder }}
      {{ 'title required' if data.required }}>
  </label><!-- .field -->
{% endmacro %}
