.subnav {
	$b: &;

	&__link {
		display: block;
		padding: 10px 15px;
		position: relative;
		transition-property: background;

		&::after {
			top: 0;
			left: 15px;
			right: 15px;
			height: 1px;
			content: '';
			display: block;
			position: absolute;
			transition-property: opacity;
			background-color: rgba($blue-100, 0.15);
		}

		&:hover {
			background-color: rgba($blue-100, 0.15);

			&::after {
				opacity: 0;
			}

			& + #{$b}__link {
				&::after {
					opacity: 0;
				}
			}
		}
		&:first-child {
			&::after {
				opacity: 0;
			}
		}
	}
	&__name {
		display: block;
		font-size: 14px;
		color: $blue-100;
		font-weight: 600;
		line-height: lh(16, 14);
		text-transform: uppercase;
	}
	&__text {
		display: block;
		font-size: 12px;
		color: $grey-200;
		font-weight: 500;
		line-height: lh(16, 12);
	}
}
