{% macro subnav(data, bemMix) %}
  <div class="subnav | {{ bemMix }}">
    {% for item in data %}
      <a class="subnav__link" href="{{ item.url }}">
        <span class="subnav__name">{{ item.name }}</span>
        <span class="subnav__text">{{ item.text }}</span>
      </a>
    {% endfor %}
  </div><!-- .subnav -->
{% endmacro %}
