$min-height-footer: 110px;
$max-height-footer: 144px;
$height-footer: 110px;

.footer {
	@extend %gutter;

	width: 100%;
	color: $blue-300;
	text-align: center;
	padding-bottom: 16px;

	&__down {
		color: #fff;
		line-height: 1;
		font-size: 10px;
		font-weight: 500;
		padding-top: 20px;
		position: relative;

		&::after,
		&::before {
			left: 50%;
			content: '';
			display: block;
			position: absolute;
		}
		&::after {
			@extend %animation;

			top: 4px;
			width: 4px;
			height: 4px;
			margin-left: -2px;
			background: #fff;
			border-radius: 4px;
			transform-origin: 50% 0%;
			animation-name: mousewheel;
		}
		&::before {
			top: 0;
			width: 12px;
			height: 17px;
			margin-left: -6px;
			border-radius: 6px;
			border: 1px solid #fff;
		}
	}
	&__info {
		font-size: 14px;
		margin-top: 20px;
		line-height: lh(20, 14);

		a {
			color: currentColor;

			&:hover {
				color: #fff;
				background-size: 0 1px, 100% 1px;
			}
			&:active {
				color: $click-color;
				background-size: 100% 1px, 100% 1px;
			}
		}
	}
}

@keyframes mousewheel {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scaleX(1.4) scaleY(2);
	}
	100% {
		transform: translateY(6px) scale(0.8);
	}
}
