<footer class="footer | page__footer">
  <div class="footer__down">Scroll Down</div>

  <div class="footer__info">
    <p>© {{ year }} AIHunters | <a href="mailto:contact@aihunters.com">contact@aihunters.com</a></p>
  </div><!-- .footer__info -->
</footer><!-- .footer -->
