.activity {
	$b: &;

	@include text-18;

	max-width: 628px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	&__body {
		display: flex;
		align-items: center;
	}
	&__show {
		max-width: 380px;
	}

	&__img {
		margin-right: 20px;
	}
	&__unit {
		display: flex;
		align-items: center;

		&:hover {
			#{$b} {
				&__name {
					background-size: 0 2px, 100% 2px;
				}
			}
		}
		&:active {
			#{$b} {
				&__name {
					color: $click-color;
					background-size: 100% 2px;
				}
			}
		}
	}
	&__name {
		@include underline;

		line-height: 1;
		font-size: 26px;
		font-weight: 600;
		background-size: 0 2px;
		text-transform: uppercase;
	}
	&__text {
		display: block;
		color: $blue-100;
		font-weight: 500;
	}
	&__pages {
		display: flex;
		margin-top: 40px;
		justify-content: center;
	}
	&__arrow {
		width: 44px;
		height: 44px;
		display: block;
		flex-shrink: 0;
		color: $blue-400;
		background: none;
		border-radius: 50%;
		position: relative;
		border: 1px solid $blue-400;
		transition-property: color, border, background;

		&::after,
		&::before {
			top: 50%;
			left: 50%;
			width: 1px;
			content: '';
			height: 10px;
			display: block;
			position: absolute;
			will-change: transform;
			background-color: currentColor;
			transition-property: transform;
		}
		&::after {
			transform-origin: 50% 0%;
		}
		&::before {
			margin-top: -10px;
			transform-origin: 50% 100%;
		}

		&:hover {
			border-color: #fff;
			background-color: #fff;
		}
		&:active {
			color: #fff;
			border-color: $click-color;
			background-color: $click-color;
		}

		&_prev {
			margin-right: 20px;

			&::after,
			&::before {
				margin-left: -5px;
			}
			&::after {
				transform: rotate(-50deg);
			}
			&::before {
				transform: rotate(50deg);
			}

			&:hover {
				&::after {
					transform: translateX(-2px) rotate(-40deg);
				}
				&::before {
					transform: translateX(-2px) rotate(40deg);
				}
			}
		}
		&_next {
			margin-left: 20px;

			&::after,
			&::before {
				margin-left: 5px;
			}
			&::after {
				transform: rotate(50deg);
			}
			&::before {
				transform: rotate(-50deg);
			}

			&:hover {
				&::after {
					transform: translateX(2px) rotate(40deg);
				}
				&::before {
					transform: translateX(2px) rotate(-40deg);
				}
			}
		}
	}
}
