<div class="activity | landing__activity">
  <div class="activity__body">
    <button class="activity__arrow activity__arrow_prev"></button>

    <div class="activity__show | swiper-container">
      <div class="activity__track | swiper-wrapper">
        {% for item in about.activity %}
          <div class="activity__unit | swiper-slide js-show-screen" data-screen="{{ item.target }}">
            <img class="activity__img" src="{{ item.img }}" width="130" height="130" alt="{{ item.name }}">

            <div class="activity__data">
              <span class="activity__name">{{ item.name | safe }}</span>
              <span class="activity__text">{{ item.text | safe }}</span>
            </div><!-- .activity__data -->
          </div><!-- .activity__unit -->
        {% endfor %}
      </div><!-- .activity__track -->
    </div><!-- .activity__show -->

    <button class="activity__arrow activity__arrow_next"></button>
  </div><!-- .activity__body -->

  <div class="activity__pages"></div>
</div><!-- .activity -->
