.landing {
	$b: &;

	width: 100%;
	height: 100vh;
	display: flex;
	user-select: none;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;

	&__obj {
		width: 45%;
		margin-left: -15px;
	}
	&__inner {
		opacity: 0;
		width: 100%;
		margin: auto;
		max-width: $width-site;
		transition-duration: 0.6s;
		transition-property: opacity;

		.swiper-slide-active & {
			opacity: 1;
		}
	}
	&__scene {
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		pointer-events: none;
		background-size: cover;
		transform: scale(1.04);
		transition-duration: 0.6s;
		background-position: 50% 50%;
		will-change: opacity, transform;
		transition-property: opacity, transform;

		.swiper-slide-active &_active {
			opacity: 1;
			filter: none;
			transform: none;
		}
	}
	&__screen {
		@extend %gutter;

		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		background-size: cover;
		background-position: 50% 50%;
		padding-bottom: $height-footer;

		// emulate header
		&::before {
			width: 100%;
			content: '';
			margin-top: 0;
			flex-shrink: 0;
			display: block;
			height: $height-header;
			min-height: $min-height-header;
			max-height: $max-height-header;
		}

		&_products {
			#{$b} {
				&__inner {
					width: 45%;
					margin-left: 6%;
					max-width: 600px;

				}
				&__intro {
					max-width: none;
					text-align: left;
				}
			}
		}
		&_solutions {
			#{$b} {
				&__inner {
					max-width: 820px;
				}
			}
		}
	}

	&__intro {
		margin-bottom: 2rem;
	}
	&__pages {
		top: 0;
		bottom: 0;
		z-index: 300;
		display: flex;
		position: absolute;
		flex-direction: column;
		justify-content: center;
		right: calc(100% / (1440 / 28));

		@include is-screen-max(970px) {
			right: 15px;
		}

		.swiper {
			&-pagination {
				&-bullet {
					margin-left: 0;
					margin-top: 10px;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
	&__offices {
		margin-top: 2rem;
	}
	&__actions {
		margin-top: 3rem;
	}
	&__activity {
		margin-top: 4rem;
	}

	&__offices {
	}
	&__contacts {
	}
	&__products {
	}
	&__solutions {
	}
}
