{% macro scene(data) %}
  {% if 'uploads' in data %}
    <div
      class="landing__scene landing__scene_active"
      style="background-image: url({{ data }});"
    ></div>
  {% else %}
    {% for item in data %}
      <div
        class="landing__scene{{ ' landing__scene_active' if loop.first}}"
        style="background-image: url({{ item }});"
      ></div>
    {% endfor %}
  {% endif %}
{% endmacro %}

<div class="landing | swiper-container">
  <div class="landing__track | swiper-wrapper">
    <section
      class="landing__screen landing__screen_about | swiper-slide"
      data-hash="about">
      {{ scene(about.scene) }}

      <div class="landing__inner">
        {{ intro(about, 'landing', ['bold']) }}

        {% include "includes/components/activity/activity.njk" %}
        {% include "includes/components/actions/actions.njk" %}
      </div><!-- .landing__inner -->
    </section><!-- .screen -->

    <section
      class="landing__screen landing__screen_products | swiper-slide"
      data-hash="products">
      {{ scene(products.scene) }}
      <div class="landing__obj">
        <img class="landing__img" src="./uploads/hand.png" alt="">
      </div><!-- .landing__obj -->

      <div class="landing__inner">
        {{ intro(products, 'landing') }}

        {% include "includes/components/products/products.njk" %}
      </div><!-- .landing__inner -->
    </section><!-- .screen -->

    <section
      class="landing__screen landing__screen_solutions | swiper-slide"
      data-hash="solutions">
      {{ scene(solutions.scene) }}

      <div class="landing__inner">
        {{ intro(solutions, 'landing') }}

        {% include "includes/components/solutions/solutions.njk" %}
      </div><!-- .landing__inner -->
    </section><!-- .screen -->

    <section
      class="landing__screen landing__screen_contacts | swiper-slide"
      data-hash="contacts">
      {{ scene(contacts.scene) }}

      <div class="landing__inner">
        {{ intro(contacts, 'landing') }}

        {% include "includes/components/contacts/contacts.njk" %}
        {% include "includes/components/offices/offices.njk" %}
      </div><!-- .landing__inner -->
    </section><!-- .screen -->
  </div><!-- .landing__track -->

  <div class="landing__pages"></div>
</div><!-- .landing -->
