{% from "includes/elements/ico/ico.njk" import ico %}
{% from "includes/elements/field/field.njk" import field %}
{% from "includes/components/intro/intro.njk" import intro %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#0c2a41">
	<meta name="format-detection" content="address=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

	<!-- seo-->
	<title>{{ meta.title }}</title>

	<meta property="og:url" content="{{ meta.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" name="title" content="{{ meta.title }}">
	<meta property="og:description" name="description" content="{{ meta.description }}">
	<meta property="og:image" content="{{ meta.image }}">
  {#
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@site">
    <meta name="twitter:creator" content="@creator" />
  #}

	<!-- favicon-->
	<link rel="icon" href="./assets/favicon/favicon.svg">
	<link rel="mask-icon" href="./assets/favicon/mask-icon.svg" color="#009cc2">
	<link rel="apple-touch-icon" href="./assets/favicon/apple-touch-icon.png">
	<link rel="manifest" href="./assets/favicon/manifest.json">

  <!-- optimization-->
  {#
  <link rel="preload" href="./assets/fonts/Rajdhani-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Rajdhani-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Rajdhani-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Rajdhani-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  #}
</head>

<body class="page page_loading page_{{ pageTheme }}">

	<!-- HEADER -->
  {% include "includes/layouts/header/header.njk" %}

	<!-- MAIN -->
	<main>
  {% block main %}{% endblock %}
	</main>

	<!-- HEADER -->
  {% include "includes/layouts/footer/footer.njk" %}

	<!-- HIDDEN -->
  {% block hidden %}{% endblock %}
</body>
</html>
