{% extends "_layout.njk" %}

{# variables #}
{% set pageTheme = "index" %}

{% block main %}
  {% include "includes/components/landing/landing.njk" %}

  <div class="popups">
    <div class="popups__scene" data-popup-id="callback">
      <div class="popup | popups__unit">
        <form
          class="form | popup__form"
          id="callback-form"
          method="post"
          autocomplete="off"
          novalidate>
          <div class="form__head">
            <span class="form__title">We'd love to hear from you</span>
            <span class="form__subtitle">Send us a message and we'll respond as soon as possible</span>
          </div><!-- .form__head -->

          <label class="field | form__field">
            <input
              class="field__input"
              type="text"
              name="name"
              title required>
            <span class="field__label">Full Name</span>
            <span class="field__message">Full Name</span>
          </label><!-- .field -->

          <label class="field | form__field">
            <input
              class="field__input"
              type="email"
              name="email"
              pattern="^([А-яA-z0-9_.-]{1,})@([А-яA-z0-9_.-]{1,}).([А-яA-z]{2,8})$"
              title required>
            <span class="field__label">Work Email</span>
          </label><!-- .field -->

          <label class="field | form__field">
            <input
              class="field__input"
              type="text"
              name="company">
            <span class="field__label">Company</span>
          </label><!-- .field -->

          <label class="field | form__field">
            <input
              class="field__input | js-mask-phone"
              type="tel"
              name="phone"
              pattern="^(\+)(\d|\d\d\d)\s(\(\d{2,3}\))\s(\d{3}-\d{2}-\d{2})$"
              title required>
            <span class="field__label">Phone Number</span>
          </label><!-- .field -->

          <label class="field | form__field">
            <textarea
              class="field__textarea"
              name="message"
              placeholder="What are your needs? Include as much as possible."
            ></textarea>
          </label><!-- .field -->

          <button class="btn btn_blue | form__btn" type="submit">Send</button>
        </form><!-- .form -->

        <button class="popup__close | js-close-popup"></button>
      </div><!-- .popup -->

      <div class="popups__overlay | js-close-popup"></div>
    </div><!-- .popups__scene -->

    {% for item in solutions.list %}
      <div class="popups__scene" data-popup-id="solution-{{ loop.index }}">
        <div class="popup | popups__unit">
          <div class="popup__head">
            {{ ico('popup', ['lg', item.ico]) }}
            <span class="popup__title">{{ item.name }}</span>
          </div><!-- .popup__head -->

          <div class="popup__body">
            {% for content in item.popup.content %}
              {% for text in content %}
                {% if loop.first %}
                  <h4>{{ text | safe }}</h4>
                {% else %}
                  <p>{{ text | safe }}</p>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div><!-- .popup__body -->

          <div class="popup__foot">
            {% for button in item.popup.buttons %}
              {% if button.url %}
                <a
                  class="btn btn_blue | popup__btn"
                  href="{{ button.url }}">{{ button.name | safe }}</a>
              {% else %}
                <button
                  class="btn btn_green | popup__btn | js-open-popup"
                  data-popup="{{ button.popup }}">{{ button.name | safe }}</button>
              {% endif %}
            {% endfor %}
          </div><!-- .popup__foot -->

          <button class="popup__close | js-close-popup"></button>
        </div><!-- .popup -->

        <div class="popups__overlay | js-close-popup"></div>
      </div><!-- .popups__scene -->
    {% endfor %}
  </div><!-- .popups -->


{% endblock %}
