$ico-ad: '\e800';
$ico-adult: '\e801';
$ico-chevron-down: '\e802';
$ico-chevron-left: '\e803';
$ico-chevron-right: '\e804';
$ico-chevron-up: '\e805';
$ico-football: '\e806';
$ico-loupe: '\e807';
$ico-masks: '\e808';
$ico-movie: '\e809';
$ico-pin: '\e80a';
$ico-scan: '\e80b';
$ico-skiing: '\e80c';
$ico-toggle: '\e80d';
$ico-youtube: '\e80e';

$icons: (
	'ad': $ico-ad,
	'adult': $ico-adult,
	'chevron-down': $ico-chevron-down,
	'chevron-left': $ico-chevron-left,
	'chevron-right': $ico-chevron-right,
	'chevron-up': $ico-chevron-up,
	'football': $ico-football,
	'loupe': $ico-loupe,
	'masks': $ico-masks,
	'movie': $ico-movie,
	'pin': $ico-pin,
	'scan': $ico-scan,
	'skiing': $ico-skiing,
	'toggle': $ico-toggle,
	'youtube': $ico-youtube,
);
