$col-gap: 20px;
$row-gap: 20px;

$spacer: 0;
$spacer-md: 0;
$spacer-sm: 0;

$gutter: 15px;
$gutter-md: 15px;
$gutter-sm: 15px;

$width-site: 940px;
$width-page: 1440px;
$width-content: 980px;

$screen-lg: 1920px;
$screen-md: 1024px;
$screen-sm: 680px;
