$white: #fff;
$black: #000;

$red-100:  #d84c33;

$blue-100: #009cc2;
$blue-200: #006b9f;
$blue-300: #03637b;
$blue-400: #004c71;
$blue-500: #032c40;
$blue-600: #092a39;
$blue-700: #061D28;
$blue-800: #05131f;

$grey-100: #fff9f2;
$grey-200: #6d6d6d;

$green-100: #6cce90;
$green-200: #529b6d;
$green-300: #2d6542;

$orange-100: #f7981c;

// theme
$link-color: $blue-100;
$hover-color: $blue-200;
$click-color: $red-100;
$error-color: $orange-100;

$body-bg: $blue-800;
$body-color: $white;

$selection-bg: $blue-100;
$selection-color: $white;

// socials
$vk: #4a76a8;
$fb: #3b5998;
$tw: #00aced;
$yt: #ff0000;
$ig: #c32aa3;
$in: #0a66c2;
$tg: #0088cc;
