$font-size: 16px;
$line-height: 24/16;
$font-weight: 400;
$font-family: 'Rajdhani', Arial, sans-serif;

$text-gap: 1rem;

$headings-margin-top: 3rem;
$headings-line-height: $line-height;

$h1-font-size: 56px;
$h1-font-weight: 500;
$h1-line-height: 54/56;

$h2-font-size: 28px;
$h2-font-weight: 600;
$h1-line-height: 32/28;

$h3-font-size: 26px;
$h3-font-weight: 500;
$h3-line-height: 30/26;

$h4-font-size: 24px;
$h4-font-weight: 400;
$h4-line-height: 28/24;

$h5-font-size: 18px;
$h5-font-weight: 600;
$h5-line-height: 24/18;

$h6-font-size: 16px;
$h6-font-weight: 600;
